html, body {
    height: 100%;
    color: #61DAFB;
  }
  
  h1 {
    margin: 20px 0 15px 0;  
  }
  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    border:solid 1px #ccc;
    border-radius: 10px;
    padding:20px;
  }
  
  ul {
    list-style: none;
  }
  
  ul>li:hover {
    background-color: #F5F5F5;
  }
  
  .form-inline .form-control {
    width: 89% !important;
    margin-right: 5px;
  }
  
  .done {
    color: pink;
    text-decoration: line-through;
  }
  
  .undone {
    color: green;
  }
  
  .panel-btn{
    width:90%;
  }

  .icon {
    display: inline-flex;
    float:right;
    margin: 0px 10px 0px 6px;
    height:10px;
    align-items: center;
    color:#000;
    opacity: .5;
  }

  .taskText{
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

 


 
